[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
cartopy = "*"
pandas = "*"
ray = "*"
ionex = {git = "git+https://github.com/gnss-lab/ionex.git#egg=ionex"}
scipy = "*"
numba = "*"

[dev-packages]

[requires]
python_version = "3.10"
